.main
  .center-box
    .tabs
      .tab_item
        %i{class: "fas fa-star"}
        %span フォロー中
      #mypost.tab_content
        .tab_content_description
          - if @posts.present?
            = render "users/mypost"
          - else
            .tab_inner
              = image_tag asset_path('no-followings.png'), alt: "no_followings_yet", class: "tab_inner__followingImage"
  - if @posts.present?
    .pagination.justify-content-center
      = paginate @posts, theme: 'twitter-bootstrap-4'

  - if user_signed_in?
    = link_to new_post_path, 'data-turbolinks': false, class: "post-btn" do
      .post-btn__text
        投稿する
        = icon('fas', 'pencil-alt', class: "post-icon")