.PostContainer
  .PostsBlock
    - @posts.each do |post|
      = link_to post_path(post), class: "PostLink" do
        .PostTable
          .PostTable__left
            = image_tag post.user.icon.to_s, class: 'post__upper__img'
          .PostTable__right
            .PostTable__right__upper
              .PostTable__right__upper--name
                = post.user.nickname
              .PostTable__right__upper--date
                = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
            .PostTable__right--text
              %p
                = simple_format(post.text)
            - if post.image.present?
              = icon('fas', 'image', class: "PostImage")
  - if @posts.present?
    = paginate(@posts)