.main
  .container
    .container__box
      .profile
        .profile__left
          .profile__left__upper{ style: "background-image: url(#{@icon.to_s})" }
          .profile__left__under
            - if user_signed_in? && current_user.id == @user.id
              = link_to "プロフィール編集", edit_user_registration_path, class: "profile__left__under--edit"
            - else
              - if user_signed_in?
                = render 'relationships/follow_btn', user: @user

            -# フォロー人数＆フォローしてる人の投稿一覧リンク
            - if current_user.id == @user.id
              = link_to relationships_path, class: 'profile__left__under--follow' do
                = icon('fas', 'star', class: "star-icon")
                .profile__left__under--text
                  %span フォローしている人数：
                = @user.followings.count
        .profile__right
          .profile__right__title
            = icon('fas', 'user-circle', class: "profile__right__title--icon")
            .profile__right__title--text
              プロフィール
          .profile__right__user-name
            = @nickname
          .profile__right__introduction
            %p
              = simple_format(@introduction)
          .profile__right__url
            = icon('fas', 'link')
            - unless @URL.blank?
              = link_to "#{@URL}", @URL, class: "profile__right__url--link"
            - else
              %p.profile__right__url--none
                ※URLはまだ設定されていません
          -# .profile__right__tags
          -#   = icon('fas', 'tags', class: 'profile__right__tags--icon')
          -#   -# each文でuserに紐付いているtagをすべて表示
          -#   .profile__right__tags--name
          -#     -# tagsテーブル作ったら、紐付けをする。
          -#   -#   プログラミング
          -#   -# .profile__right__tags--name
          -#   -#   料理
          -#   -# .profile__right__tags--name
          -#   -#   筋トレ
          -#   -# .profile__right__tags--name
          -#   -#   読書
          -#   -# .profile__right__tags--name
          -#   -#   美容
      
      .tabs
        - if current_user.id == @user.id
          .tab_item # MY LOG
        - else
          .tab_item # TSUMIAGE
        #mypost.tab_content
          .tab_content_description
            = render "mypost"