.main
  .page-title
    = icon("fas", "tag", class: 'page-title__icon')
    .page-title__name
      = @tag.name
    .page-title__text
      に関連した投稿

  .tag-posts
    .tag-posts__index
      = render partial: "posts/post", collection: @posts
    .pagination.justify-content-center
      = paginate @posts, theme: 'twitter-bootstrap-4'

  - if user_signed_in?
    = link_to new_post_path, 'data-turbolinks': false, class: "post-btn" do
      .post-btn__text
        投稿する
        = icon('fas', 'pencil-alt', class: "post-icon")