.comments
  .mainBlock
    .UpperBlock
      .UpperBlock__title
        = icon('far', 'comment', class: "UpperBlock__title--icon")
        .UpperBlock__title--text
          %p 
            コメント
    .CommentArea
      - if @comments.count == 0
        %p.CommentArea__none
          この投稿にコメントはありません。
      - else
        - @comments.each do |comment|
          .comment
            .comment__left
              = link_to user_path(comment.user.id) do
                = image_tag comment.user.icon.to_s, class: 'comment__left--img'
            .comment__right
              .comment__right__upper
                .comment__right__upper--name
                  = link_to user_path(comment.user.id) do
                    = comment.user.nickname
                .comment__right__upper--date
                  = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
              .comment__right__upper--text
                = simple_format(comment.text)

    - if current_user
      .CommentForm
        = form_with(model: [@post, @comment], local: true) do |form|
          = form.text_area :text, placeholder: "コメントを入力", rows: 3, class: "CommentForm__text"
          = form.submit "投稿", class: "submit__btn"