- @post.errors.full_messages.each do |message|
  .form-error
    = message
.input-box
  .input-box__text
    = form.text_area :text, placeholder: "今日の#TSUMIAGE", row: "10", id: "text", class: "input-box__text--input"
    = form.label :image do
      .input-box__image
        = icon('fas', 'camera', class: 'input-box__image--icon')
        = form.file_field :image, class: "hidden"

  = form.text_field :tag_list, value: @post.tag_list, placeholder: "積み上げたことに関連するタグをスペース区切りで5つまで入力", class: "input-box__search-tag"

.submit
  = form.submit "Send", class: "submit__btn"