.main
  .contents
    .post-container
      .posts-table
        = render partial: "post", collection: @posts
    
      .pagination.justify-content-center
        = paginate @posts, theme: 'twitter-bootstrap-4'

    .tags-table
      .form
        %input.form__search-tag#keyword{type: "text", placeholder: "タグ検索", autocomplete: "off"}
      -# 検索結果の表示
      #result

      = icon('fas', 'fire-alt', class: 'tags-table__icon')
      %p
        人気タグ一覧
      .tags-box
        - @tags.each do |tag|
          = link_to tag_path(tag), class: 'tag-name' do
            .tag-name__view
              = tag.name
            .tag-name__count
              = tag.taggings_count
            .tag-name__posts
              posts

  - if user_signed_in?
    = link_to new_post_path, 'data-turbolinks': false, class: "post-btn" do
      .post-btn__text
        投稿する
        = icon('fas', 'pencil-alt', class: "post-icon")