!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Tsumiage
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .left-box
        = link_to "#", class: "left-box__link" do
          %img{ src: "/assets/logo.png", alt: "logo", class: "left-box__link--logo" }

      .right-box
        .right-box__content
          = link_to "新規登録", new_user_registration_path, class: "right-box__content--signup"
        .right-box__content
          = link_to "ログイン", new_user_session_path, class: "right-box__content--signin"

    = yield