!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Tsumiage
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .left-box
        = link_to root_path, class: "left-box__link" do
          %img{ src: "/assets/logo.png", alt: "logo", class: "left-box__link--logo" }
      
      - if user_signed_in?
        .right-box-session
          .right-box__content
            = link_to "#", class: "right-box__content--user-name" do
              = current_user.nickname
          .right-box__content
            = link_to "投稿する", new_user_registration_path, class: "right-box__content--post"
          .right-box__content
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "right-box__content--logout"
      - else
        .right-box
          .right-box__content
            = link_to "新規登録", new_user_registration_path, class: "right-box__content--signup"
          .right-box__content
            = link_to "ログイン", new_user_session_path, class: "right-box__content--signin"
    = render 'layouts/notification'
    = yield